<h3 class="widget-title">Filtrer par</h3>
<div class="tagcloud">
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Sport'}) }}" class="tag-link-7" title="" style="font-size: 8pt;">
		Sport
	</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Culture'}) }}" class="tag-link-8" title="" style="font-size: 22pt;">
		Culture</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Soirées'}) }}" class="tag-link-9" title="" style="font-size: 22pt;">
		Soirées</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Cinéma'}) }}" class="tag-link-10" title="" style="font-size: 8pt;">
		Cinéma</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Restaurant'}) }}" class="tag-link-11" title="" style="font-size: 8pt;">
		Restaurant</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Théâtre'}) }}" class="tag-link-11" title="" style="font-size: 8pt;">
		Théâtre</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Café-bar'}) }}" class="tag-link-11" title="" style="font-size: 8pt;">
		Café/bar</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Musique'}) }}" class="tag-link-11" title="" style="font-size: 8pt;">
		Musique</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Spectacle'}) }}" class="tag-link-11" title="" style="font-size: 8pt;">
		Spectacle</a>
	<a href="{{ path('descartes_evenement_filtreEvent', {'filtre' : 'Divers'}) }}" class="tag-link-11" title="" style="font-size: 8pt;">
		Divers</a>
</div>